* {
    font-family: Roboto, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header,
.quote {
    width: 100%;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 20px;
}

nav,
.hero{
    width: 800px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

nav h2 {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.hero-content {
    flex: 1;
}

.hero-content h1,
.hero-content p {
    margin-bottom: 15px;
}

.hero-content h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-content p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-content button {
    background-color: #3882f6;
    border-radius: 10px;
    color: white;
    padding: 7px 30px;
}

.image {
    height: 200px;
    background-color: rgb(143, 147, 151);
    color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-objects {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.media-objects h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900px;
}

.media-content,
.quote-content {
    width: 700px;
}

.media-content {
    display: flex;
    justify-content: space-between;
}

.media-content div {
    width: 140px;
    text-align: center;
}

.blue-square {
    width: 140px;
    height: 140px;
    border: solid #3882f6 3px;
    border-radius: 10px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.quote-content {
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

h4 {
    margin-top: 10px;
    align-self: flex-end;
}