* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif
}

.first-section,
.second-section,
.third-section,
.fourth-section {
    display: flex;
    justify-content: center;
}

.first-section {
    background-color: #1f2937;
    padding-top: 20px;
}

.width-delimiter {
    width: 50%;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

header h2 {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.first-section-content {
    display: flex;
    gap: 30px;
    margin-bottom: 80px;
}

.hero-text,
.image {
    flex-basis: 50%;
    flex-grow: 1;
}

.hero-text * {
    margin-bottom: 5px;
}

.hero-text h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text button {
    color: white;
    font-weight: bold;
    background-color: #3882f6;
    border-radius: 8px;
    border-style: none;
    padding: 10px 30px;
}

.image {
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #747e84;
}

.second-section h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin: 40px 0px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 80px;
}

.card {
    width: 150px;
    text-align: center;
}

.card div {
    width: 150px;
    height: 150px;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 8px;
    margin-bottom: 6px;
}

.card p {
    color: #1f2937;
}

.third-section {
    background-color: #e5e7eb;
    padding: 80px 0;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.author {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}

.fourth-section {
    padding: 80px 0px;
}

.call-to-action-container {
    background-color: #3882f6;
    padding: 40px 80px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 25%;
    color: white;
}

.call-to-action .title {
    font-size: 20px;
    font-weight: bold;
}

.call-to-action .text {
    color: #e5e7eb;
}

.call-to-action-container button {
    color: white;
    padding: 10px 30px;
    border-radius: 8px;
    border-style: solid;
    border-color: white;
    background-color: #3882f6;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    padding: 35px 0px;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 15px;
}